<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psh.mapper.BillPasswordExtendMapper">

    <sql id="table_field">
      #allSqlColumn()
    </sql>
    <!--分页查询-->
    <select id="listByPage" resultType="com.psh.entity.response.ResBillPasswordExtend">
            select * from bill_password_extend
            where deleted = 0
                <if test="null != param.passwordId and ''!= param.passwordId">
           and password_id like '%'||#{param.passwordId}||'%'        </if>
                 <if test="null != param.described and ''!= param.described">
           and described like '%'||#{param.described}||'%'        </if>
                 <if test="null != param.attachment and ''!= param.attachment">
           and attachment like '%'||#{param.attachment}||'%'        </if>
                                     
        </select>
</mapper>
